@import '@fontsource/merriweather';
@import '@fontsource/roboto-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    color-scheme: dark;

    font-family: "Merriweather","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: 'Roboto Mono', monospace;
    --color-orange: 15deg 74% 54%;
    --orange-hsl: hsl(15, 74%, 54%);
    --text-primary: 0deg, 0%, 20%;
    --navy: 195deg 92% 15%;
    --navy-hsl: hsl(var(--navy));
    --light-navy: hsl(195, 97%, 27%);
    --content-width: 700px;
    --navbar-height: 4rem;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue var(--navy-hsl);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--navy-hsl);
}

*::-webkit-scrollbar-thumb {
  background-color: #919191;
  border-radius: 20px;
  border: 3px solid var(--navy);
}

html {
  scroll-padding-top: var(--navbar-height);
}

body {
  /* background-color: var(--navy-hsl); */
  /* color: white; */
  background-color: white;
  color: hsl(var(--text-primary))
}

a {
  transition: all 150ms ease;
}

a:hover {
  color: hsl(var(--color-orange))
}

main > section {
  max-width: var(--content-width);
  margin: 0 auto;
} 